<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Resetirali smo ti password, <%= @user.email%></h1>
<p>
  Generiran i spremljen je novi password,
  your password is: <%= @generated_password %><br>
</p>
<p>
  To login to the site, just follow this link: <%= "- tu ce biti link na login -" %>.
</p>
<p>RESET!</p>
</body>
</html>