/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require responsive
 *= require services
 *= require bootstrap.min
 *= require animate
 *= require bootstrap-spinner
 *= require flag-icon.min
 *= require font-awesome
 *= require owl.carousel
 *= require owl.theme
 *= require Pe-icon-7-stroke
 *= require prettyPhoto
 *= require sky-forms
 *= require sky-forms-green
 *= require style
 *= require cookies_eu
 *= require price
 */

.cookies-eu-ok {
    background-color: #54b948 !important;
    font-size: 14px !important;
    line-height: 30px !important;
    border-radius: 1px;
}

.cookies-eu {
    line-height: 60px !important;
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    text-align: center;
    border-top: 1px solid #E4E4E4;
    background: rgba(243, 156, 18, 0.85) !important;
    font-size: 18px !important;
    font-weight: 600;
}

.radio_button_wrapper {
    padding-left: 10px!important;
    font-size: 135%;
}